

.bgClass{
    background-color: #FFF500;
}

.bgClass1{
    background-color: #D9D9D9;
}

.box1{
    background-color: #D9D9D9;
}

.box2{
    background-color: #FFF500B2;
}

input{
    outline: none
}



